@charset "utf-8";
/* CSS Document */
 
#box{
        background-color:black;
        overflow:hidden;
        display:inline-block;
        padding:20px;
}

#header{
        background-color:red;
        width:900px;
        border:1px solid white;
        margin-bottom:20px;
        margin-left:-10px;
}

#sidebar1{
        background-color:yellow;
        float: left;
        width: 20%;
        margin-left: -10px;
        margin-right: 5px; 
}

#content{
        background-color:green;
        float: left;
        width: 65%;
        margin-right: 5px;
}
 
#sidebar2{
        background-color:blue;
        float: left;
        width: 15%;
}
 
#footer{
        float:left;
        background-color:#C0C;
        border:1px;
        border-style:solid;
        width:101%;
        margin-top:20px;
        margin-left:-10px;
}
